<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskillator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="main">
        <h1>Taskillator</h1>
        <h3>Your Own Task Manager!</h3>
        <div>
            <button type="button" name="Signup"> Sign Up</button>
            <button type="button" name="Signin"> Sign In</button>
        </div>
    </div>
</body>
</html>